
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated)
{
    <h2>Name @User.Identity.Name</h2>
    <h2>Token @ViewBag.token</h2>
}